name: Test

on: 
  push:
    branches:
      - master
  
  pull_request:
    branches:
      - master

jobs:
  Testing:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install pytest

      - name: Run tests
        run: |
          pytest

  deploy:
    needs: Testing
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy application
        run: Test
