name: Test

on: 
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main

jobs:
  Testing:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install pytest

      - name: Run tests
        run: |
          pytest
